<div class="container-fluid p-0 m-0 g-0">
    <div class="row justify-content-center p-0 m-0 g-0">
        <div class="page">
            <app-heading></app-heading>
            <app-portfolio showTitle="true"></app-portfolio>
            <app-experience showTitle="true" from="1" to="4"></app-experience>
            <app-footer page-number="1"></app-footer>
        </div>
    </div>
    <div class="row justify-content-center p-0 m-0 g-0">
        <div class="page">
            <app-experience showTitle="false" from="5" to="6"></app-experience>
            <app-experience
                file="experience-other"
                showTitle="true"
                from="1"
                to="2"></app-experience>
            <app-training from="1" to="4" showTitle="true"></app-training>
            <app-footer page-number="2"></app-footer>
        </div>
    </div>
</div>
