@import "../../styles-global.scss";

.training-section {
    background-color: $background-section;
    color: $color-section;
    // border-left: solid 0.05cm white;
    // border-right: solid 0.05cm white;
    padding-left: 0.01cm;
    padding-right: 0.01cm;
    height: 2.5cm;
}

.training-left {
    display: flex;
    flex-direction: column;
    row-gap: 0cm;
    height: 100%;
    justify-content: space-evenly;
    font-size: $container-font-size;
    padding-top: 0.3cm;
    padding-bottom: 0.3cm;
    padding-left: 0.5cm;
    .training-left-up {
        @extend %inside-part;
        row-gap: 0cm;
    }
    .training-left-bottom {
        @extend %inside-part;
        row-gap: 0cm;
        column-gap: 0.01cm;
    }
}

.training-middle-up {
    @extend %inside-part;
    height: 40%;
    font-size: 1.1rem;
    font-weight: bold;
    position: relative;
    top: $container-title-top;
    .training-subtitle {
        font-size: $container-font-size;
        font-weight: normal;
    }
}
.training-middle-down {
    @extend %inside-part;
    height: 60%;
}
.training-right {
    @extend %inside-part;
    flex-direction: row;
    row-gap: 0.05cm;
    column-gap: 0.15cm;
    padding-right: 0.5cm;
}
