<div class="section-set">
    <div *ngIf="showTitle" class="section-set-title">{{ section.title }}</div>

    <div class="row training-section" *ngFor="let training of trainingList">
        <div class="col-3">
            <div class="training-left">
                <div class="training-left-up">
                    <strong>{{ training.date }}</strong>
                    <div>{{ training.duration }}</div>
                </div>
                <div class="training-left-bottom">
                    <div>{{ training.center }}</div>
                    <div>{{ training.place1 }}</div>
                    <div>{{ training.place2 }}</div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="training-middle-up">
                <div>{{ training.title }}</div>
                <div *ngIf="training.subtitle" class="training-subtitle">
                    {{ training.subtitle }}
                </div>
            </div>
            <div class="training-middle-down">
                <p *ngFor="let desc of training.description">{{ desc }}</p>
            </div>
        </div>
        <div class="col-3 align-self-center">
            <div class="training-right">
                <div *ngFor="let tech of training.technology">
                    {{ tech }}
                </div>
            </div>
        </div>
    </div>
</div>
